.landing {
	display: flex;
}
.left {
	width: 50vw;
	margin: 0;
	padding: 0;
	height: 100vh;
	/* background-color: aliceblue; */
	/* display: flex; */
	justify-content: center;
}
.right {
	width: 50vw;
	margin: 0;
	padding: 0;
	height: 100vh;
	/* display: flex; */
	justify-content: center;
}
.roboLogo {
	width: 50vw;
	height: auto;
	margin-left: -18%;
}
.lab {
	position: relative;
	top: 50%;
	text-align: center;
	transform: translate(15%, -38%);
	/* transform: translateX(10%); */
}
.signinBtn {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	justify-content: center;
	width: 40%;
	padding: 1.5vh 0.2vw;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 1.4vw;
	color: white;
	background-color: #0093ff;
	border-radius: 20.1913px;
	line-height: 20px;
	transition: all 500ms;
	cursor: pointer;
}
.signinBtn:hover {
	/* background-color: #0095ffab; */
	filter: brightness(1.25);
	transition: all 500ms;
}
.signinBtn span {
	width: 70%;
}
.vitE {
	display: block;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 1.3vw;
	color: #727272;
	text-align: left;
	margin-left: 1%;
}
.rab {
	position: relative;
	top: 50%;
	transform: translate(0%, -58%);
	text-align: right;
}
.foto {
	width: 35vw;
	transform: translateX(-20%);
}
.ccs {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 3vw;
	line-height: 49px;
	/* transform: translateX(-20%); */

	color: #ffffff;
	display: block;
	text-align: center;
	/* margin-top: 10%; */
	position: absolute;
	bottom: 18%;
}
button {
	outline: none;
}
@media only screen and (max-width: 801px) {
	.landing {
		flex-direction: column;
	}
	.ccs {
		display: none;
	}
	.right,
	.left {
		height: auto;
		width: 90%;
		text-align: center;
		margin: auto;
	}
	.lab {
		transform: translate(0%, 0%);
		text-align: center;
		justify-content: center;
		margin: auto;
	}
	.roboLogo {
		width: 80vw;
		height: auto;
		margin: auto;
	}
	.signinBtn {
		width: 70%;
		font-size: 5vw;
		margin: auto;
		padding: 0.5vh 0.1vw;
	}
	.signinBtn img {
		width: 15%;
	}
	.vitE {
		width: 70%;
		text-align: center;
		margin: auto;
		font-size: 4vw;
	}
	.rab {
		transform: translate(0%, 0%);
		text-align: center;
		justify-content: center;
		margin: auto;
	}
	.foto {
		width: 80vw;
		height: auto;
		margin: auto;
		position: relative;
		left: 50%;
		transform: translate(-55%);
		margin-top: 20%;
	}
	.left {
		margin-top: 40%;
	}
}
